<h1><%= @group.name %></h1>

<h2>Breeds in this Group</h2>

<ul>
  <% @breeds.each do |breed| %>
    <li>
      <%= link_to breed.name, breed_path(breed) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Groups", groups_path %>