<h1>Temperaments</h1>

<ul>
  <% @temperaments.each do |temperament| %>
    <li>
      <%= link_to temperament.name, temperament_path(temperament) %>
      (<%= temperament.breeds.count %> breeds)
    </li>
  <% end %>
</ul>