<h1>Dog Breed Explorer</h1>

<p>
  Welcome to Dog Breed Explorer. This Rails application lets users browse,
  search, and learn about different dog breeds using real AKC dog breed data.
</p>

<p>
  The database currently includes information about dog breeds, breed groups,
  temperament traits, and sample reviews.
</p>

<p>
  <%= link_to "View All Breeds", breeds_path %>
</p>